<%- include('header') -%>
<div class="padding-top">
    <div class="table-box">
        <% if(locals.models){%>
            <h2>All Food Images Models</h2>
            <div class="sub-model-text"><%= models.length %> <%= models.length>1? "Images":"Image" %></div>
            <div class="sub-model-text"><a href="foodimages/add" class="model-btn btn-success"><i class="fa fa-plus"></i> Add Food Images</a></div>
            <table class="table">
                <tr>
                    <td>Food</td>
                    <td>Image</td>
                    <td colspan="2">Actions</td>
                </tr>
                <% models.forEach(x=>{ %>
                    <tr>
                        <td><%= x.food %></td>
                        <td><img src="<%= x.path %>" class="img-thumbnail"></td>
                        <<td><a href="foodimages/<%= x._id %>/edit" class="model-btn btn-info"><i class="fa fa-pencil"></i></a></td>
                        <td><a href="foodimages/<%= x._id %>/delete" class="model-btn btn-danger"><i class="fa fa-trash"></i></a></td>
                    </tr>
            <% } )%>
            </table>
        <%}else{%>
            <div class="flex">
                <p>No Food Images Models Yet</p>
            </div>
        <%}%>
    </div>
</div>
<%- include('footer') -%>